/*
Couleurs
Mauve foncé : 393D52
Rose foncé : A6808C
Rose/beige pale : F1E0DE
Mauve pale : EEE5E9
Blanc : FFFFFF


font-family: 'Thasadith', sans-serif;
font-family: 'GFS Didot', serif;
font-family: 'Raleway', sans-serif;
*/

* {
    margin: 0 auto;
    padding: 0 auto;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #F1E0DE;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#F1E0DE), to(#EEE5E9));
    background-image: linear-gradient(to top right, #F1E0DE, #EEE5E9);
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 8px;
    margin-left: 1rem;
    width: 100%;
    height: auto;
    color: #EEE5E9;
    position: relative;
    display: inline-block;
    top: -200px;
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 4px;
    margin-left: 1rem;
    width: 100%;
    height: auto;
    color: #EEE5E9;
    position: relative;
    display: inline-block;
    top: -210px;
}

h3 {
    color: #393D52;
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid #A6808C;
    /* top right bottom left*/
    padding: 10px 0px 10px 50px;

}

/* Scroll fire  */
.projet,
.gaucheTexte,
.droiteImg,
.container,
.profil {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: opacity 0.3s 0.25s ease-out,
        -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
    transition: opacity 0.3s 0.25s ease-out,
        -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
        opacity 0.3s 0.25s ease-out;
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
        opacity 0.3s 0.25s ease-out,
        -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
}

.projet.is-visible,
.gaucheTexte.is-visible,
.droiteImg.is-visible,
.container.is-visible,
.profil.is-visible {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

/* ======== TABLETTES ============ */
@media (min-width:576px) and (max-width:916px) {}

/* ======== GRANDES ÉCRANS ============ */
@media (min-width:917px) {

    h1 {
        letter-spacing: 12px;
        margin-left: 1rem;
        font-size: 2rem;
        top: -120px;
    }

    h2 {
        font-size: 1.2rem;
        top: -130px;
    }

    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 5px;
    }

}