a{
    text-decoration: none;
}

footer {
    background-color: #393D52;
}

#fontAwsome  {
    width: 220px;
    padding-top: 25px;
    padding-bottom: 25px;
    height: auto;
    margin: 0 auto;
    color: #EEE5E9;
    font-size: 1.3rem;

}

#fontAwsome a{
    margin: 0 auto;
    margin-right: 15px;
    margin-left: 15px;
}


#fontAwsome a:hover {
    color: #A6808C;
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(166, 128, 140, 0.829);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(166, 128, 140, 0.829) transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }