footer {
    background-color: #523843;
}

#fontAwsome {
    width: 220px;
    padding-top: 25px;
    padding-bottom: 25px;
    height: auto;
    margin: 0 auto;
    color: #EEE5E9;
    font-size: 1.3rem;

}

#fontAwsome i {
    margin-right: 15px;
    margin-left: 15px;
}


#fontAwsome i:hover {
    color: #A6808C;
    font-size: 1.2rem;
}
