#projets,
#propos {
    margin-bottom: 50px;
}

#contenu {
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}  

.image {
    display: block;
    width: 100%;
    height: auto;
  }

   /* Pop up boite de projet */
   #presentation{
    z-index: 90;
    background-color:  rgba(57, 61, 82, 0.7);
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
  }

  #boite{
    color: #393d52;
    z-index: 91;
    position: absolute;
    top: 10%;
    margin-bottom: 10%;
    left: 15%;
    height: auto;
    width: 70%;
    background-color: #F1E0DE;
}

#boite h2{
    top: -35px;
    font-size: 1.3rem;
}
#boite h3{
    margin-bottom: 25px;
}

.imagePop{
    width: 100%;
    height: auto;
}

.imagePopWeb{
    width: 100%;
    height: auto;
}
.imagePopMobile{
    height: auto;
    width: 32%;
    margin: 0 auto;
}

.fermer{
    position: absolute;
    top: -30px;
    right: 0;
    display: grid;
    flex-flow: column wrap;
    z-index: 99;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.boutonX{
    width: 100%;
    height: 5px;
    background-color: #EEE5E9;
}

.boutonX:first-child {
    transform: translateY(8px) rotate(45deg);
}
.boutonX:last-child {
    transform: translateY(-4px) rotate(-45deg);
    background-color: #EEE5E9;
}

/* ======== GRANDES ÉCRANS ============ */
@media (min-width:917px) {

    .gauche {
        /* background-color: aqua;*/
        height: auto;
        width: 47%;
        margin-right: 3%;
    }

    .droite {
        /* background-color: coral;*/
        height: auto;
        width: 47%;
        margin-left: 3%;
    }

    .gauche img,
    .droite img {
        margin-top: 10%;
        box-shadow:  3px 3px 5px #595b61;
    }
    
/*   HOVER sur projets   */
    .projet {
        position: relative;
        width: 100%;
        cursor: pointer;
        filter: grayscale(40%) ;
      }
      
      .image {
        display: block;
        width: 100%;
        height: auto;
      }
      
      .survol {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color:rgba(57, 61, 82, 0.7);
      }
      
      .projet:hover .survol {
        opacity: 1;
        filter: none;
      }
      
      .texte {
        color: #EEE5E9;
        font-size: 1.3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 1.5;
      }     
     
}
