/*================================================
/*
Couleurs
Mauve foncé : 4C3B4D
Rose foncé : A6808C
Rose/beige pale : F1DEDE
Mauve pale : EEE5E9
Blanc : FFFFFF


font-family: 'Thasadith', sans-serif;
font-family: 'GFS Didot', serif;
font-family: 'Raleway', sans-serif;
*/

/* ======== DESIGN GLOBAL DE BASE ======== */
/* ======== MOBILES ============ */

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-right: 5%;

    background-color: #393d52;
    /*Effet de transition*/
    transition: height 0.5s;
    overflow: auto;
    /*Affichage du menu en rangée*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    /* Cacher le menu */
    clip-path: circle(0.0% at 100% 0);
    z-index: 98;
}


.menu a {
    text-decoration: none;
    color: #EEE5E9;
    border-bottom: 1px solid white;
    font-size: 2.3rem;
    /*Au point de départ on met tous les éléments invisibles*/
    opacity: 0;
    /*Pour les effets de transition*/
    transition: opacity 0.3s ease-out;
    border: none;
    /*Propriété comme item flex - peut s'étirer en largeur*/
    flex: 0 0 auto;

}

li:first-child {
    padding-top: 13vh;
}

li {
    list-style: none;
    margin: 1.3rem;
    margin-right: 1.5rem;
}

.boutonBurger {
    width: 35px;
    height: 35px;
    cursor: pointer;
    /*Conteneur flex*/
    position: fixed;
    top: 1.2rem;
    right: 1.5rem;
    display: grid;
    flex-flow: column wrap;
    z-index: 99;
    /*justify-content: space-between;*/
}

.ligne {
    width: 100%;
    height: 5px;
    background-color: #393d52;
    transition: transform 0.5s, opacity 0.5s;
}

.croix.estActif .ligne:first-child {
    transform: translateY(9px) rotate(45deg);
    background-color: #EEE5E9;
}

.croix.estActif .ligne:nth-child(2) {
    opacity: 0;
}

.croix.estActif .ligne:last-child {
    transform: translateY(-15px) rotate(-45deg);
    background-color: #EEE5E9;
}

/* Contrôle de l'apparition du menu*/

#chkBoutonBurger {
   display: none;
}

/*Animation et effet du menu*/
@keyframes animMenu {
    from {
        clip-path: circle(0.0% at 100% 0);
        opacity: 0.2;
        background-color: #393d52;
    }

    50% {
        clip-path: circle(50% at 100% 0);
        opacity: 0.5;
        background-color: #393d52;
    }

    to {
        clip-path: circle(76.3% at 100% 0);

    }
}

#chkBoutonBurger:checked ~ .menu {
    animation: animMenu 0.5s 0.2s ease-out forwards;
}

/*Effets sur les boutons du menu...*/

  #chkBoutonBurger:checked ~  .menu a {
      opacity: 1;
  }

  #chkBoutonBurger:checked ~  .menu a:nth-of-type(1) {
  	transition-delay: 1s;
  }

  #chkBoutonBurger:checked ~  .menu a:nth-child(2) {
  	transition-delay: 1.3s;
  }

  #chkBoutonBurger:checked ~  .menu a:nth-child(3) {
  	transition-delay: 1.6s;
  }



/* ======== TABLETTES ============ */
@media (min-width:576px) and (max-width:916px) {}

/* ======== GRANDES ÉCRANS ============ */
@media (min-width:917px) {


    /*Animation et effet du menu*/
    @keyframes animMenu {
        from {
            clip-path: circle(0.0% at 100% 0);
            opacity: 0.2;
            background-color: #4C3B4D;
        }

        50% {
            clip-path: circle(20% at 100% 0);
            opacity: 0.5;
            background-color: #4C3B4D;
        }

        to {
            clip-path: circle(46.3% at 100% 0);

        }
    }

    .boutonBurger {
        top: 1.2rem;
        right: 2.5rem;
    }

    li {
        margin-right: 2.6rem;
    }

    a:hover {
        color: #A6808C;
    }
}
