header {
    overflow: hidden;
}

/* Hero background images */
#hero-1 {
    background-image: url(../img/montagne.jpg);
}

/* Duotone effect */
.duotone {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: inline-block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: all 1.35s ease-in-out;
    transition: all 1.35s ease-in-out;
}

/* ======== GRANDES ÉCRANS ============ */
@media (min-width:917px) {

    /* The brightest duotone color */
    .darken::before {
        background-color: rgba(241, 224, 222, 1);
    }

    /* The darkest duotone color */
    .lighten::after {
        background-color: rgba(238, 229, 233, 1);
    }

    /* Duotone effect */
    .duotone {
        -webkit-filter: blur(2px);
        filter: blur(2px);
        width: 100vw;
        height: 95vh;
        overflow: hidden;
        position: relative;
        display: inline-block;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
        -webkit-transition: all 1.35s ease-in-out;
        transition: all 1.35s ease-in-out;
    }

    .duotone::before,
    .duotone::after {
        content: '';
        width: inherit;
        height: inherit;
        position: absolute;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .duotone::before {
        mix-blend-mode: multiply;
    }

    .duotone::after {
        mix-blend-mode: color;
    }

    /* Removal of duotone and sizing on hover/touch */
    .duotone:hover,
    .duotone:hover::before,
    .duotone:hover::after,
    .duotone:focus,
    .duotone:focus::before,
    .duotone:focus::after {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        background-color: rgba(255, 255, 255, 0);
    }

}