// Couleurs et apparance
$background-color:#F1E0DE;
$bar-empty:rgb(218, 218, 218);
$bar-color:#A6808C;

$glow-width:100px;
$glow-radius:10px;
$glow-color:rgb(255, 128, 217);

.progress-bar {
    height: 3px;
    width: 100%;
    position: relative;
    z-index: 10;
    background-color: $bar-empty;

    .progress {
        position: relative;
        height: 100%;
        background-color: $bar-color;
        -webkit-transition: width 0.5s ease-out;
        transition: width 0.5s ease-out;
        border-radius: 0px 2px 2px 0px;
    }

    .glow {
        width: $glow-width;
        max-width: 100%;
        height: 100%;
        float: right;
    }

    .glow::before,
    .glow::after {
        content: '';
        display: block;
        position: relative;
        border-radius: 0px 2px 2px 0px;
    }

    .glow::before {
        background: transparent;
        height: 100%;
        -webkit-box-shadow: 0px 0px $glow-radius $bar-color, 0px 0px $glow-radius $glow-color;
        box-shadow: 0px 0px $glow-radius $bar-color, 0px 0px $glow-radius $glow-color;
        z-index: -5;
    }

    .glow::after {
        background: -webkit-gradient(linear, left top, right top, from($background-color), to(transparent));
        background: linear-gradient(to right, $background-color 0%, transparent 100%);
        height:calc(100% + #{$glow-radius} + #{$glow-radius});
        width:calc(100% + #{$glow-radius});
        top: (-$glow-radius);
        left: (-$glow-radius);
        z-index: -3;
    }
}

// message
.label {
    font-family: 'Raleway', sans-serif;
    color: #393D52;
    font-size: 1.2rem;
}

// animations
.fill-1 {
    //HTML5
    animation: fill-1 0.5s ease-out 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: 0%;
}

.fill-2 {
    //CSS3
    animation: fill-2 0.5s ease-out 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: 0%;
}

.fill-3 {
    //JavaScript
    animation: fill-3 0.5s ease-out 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: 0%;
}

.fill-4 {
    //PHP
    animation: fill-4 0.5s ease-out 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: 0%;
}

.fill-5 {
    //MySQL
    animation: fill-5 0.5s ease-out 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: 0%;
}

.fill-6 {
    //Sass
    animation: fill-6 0.5s ease-out 2.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: 0%;
}

.fill-7 {
    //PhotoShop
    animation: fill-7 0.5s ease-out 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: 0%;
}

.fill-8 {
    //Illustrator
    animation: fill-8 0.5s ease-out 3.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: 0%;
}

.fill-9 {
    //Github
    animation: fill-9 0.5s ease-out 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: 0%;
}

.fill-10 {
    //Google Cloud Platform ⋄ App Engine
    animation: fill-10 0.5s ease-out 3.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: 0%;
}

@-webkit-keyframes fill-1 {

    //HTML5
    0% {
        width: 0%;
    }

    100% {
        width: 98%;
    }
}

@keyframes fill-1 {

    //HTML5
    0% {
        width: 0%;
    }

    100% {
        width: 98%;
    }
}

@-webkit-keyframes fill-2 {

    //CSS3 
    0% {
        width: 0%;
    }

    100% {
        width: 92%;
    }
}

@keyframes fill-2 {

    //CSS3 100
    0% {
        width: 0%;
    }

    100% {
        width: 92%;
    }
}

@-webkit-keyframes fill-3 {

    //JavaScript 95
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

@keyframes fill-3 {

    //JavaScript 95
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

@-webkit-keyframes fill-4 {

    //PHP
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes fill-4 {

    //PHP
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@-webkit-keyframes fill-5 {

    //MySQL
    0% {
        width: 0%;
    }

    100% {
        width: 72%;
    }
}

@keyframes fill-5 {

    //MySQL
    0% {
        width: 0%;
    }

    100% {
        width: 72%;
    }
}

@-webkit-keyframes fill-6 {

    //Sass
    0% {
        width: 0%;
    }

    100% {
        width: 73%;
    }
}

@keyframes fill-6 {

    //Sass
    0% {
        width: 0%;
    }

    100% {
        width: 73%;
    }
}

@-webkit-keyframes fill-7 {

    //PhotoShop
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes fill-7 {

    //PhotoShop
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@-webkit-keyframes fill-8 {

    //Illustrator
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

@keyframes fill-8 {

    //Illustrator
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

@-webkit-keyframes fill-9 {

    //Github
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes fill-9 {

    //Github
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@-webkit-keyframes fill-10 {

    //Google cloud
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

@keyframes fill-10 {

    //Google cloud
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.label.one {
    //HTML5
    animation: label 0.5s ease-out 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

.label.two {
    //CSS3
    animation: label 0.5s ease-out 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

.label.three {
    //JavaScript
    animation: label 0.5s ease-out 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

.label.four {
    //PHP
    animation: label 0.5s ease-out 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

.label.five {
    //MySQL
    animation: label 0.5s ease-out 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

.label.six {
    //Sass
    animation: label 0.5s ease-out 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

.label.seven {
    //PhotoShop
    animation: label 0.5s ease-out 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

.label.height {
    //Illustrator
    animation: label 0.5s ease-out 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

.label.nine {
    //Github
    animation: label 0.5s ease-out 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

.label.ten {
    // Google Cloud Platform ⋄ App Engine
    animation: label 0.5s ease-out 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

@-webkit-keyframes label {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 0.9;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes label {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 0.9;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

// layout
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    .wrapper {
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;

        .container {
            padding: 5px;

            > * {
                margin-bottom: 3px;
            }
        }
    }
}